* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	font-family: "Arial", sans-serif;
}

h1 {
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 2rem;
	line-height: 150%;
	letter-spacing: 0.36rem;
}

h2 {
	font-family: "Allura", "Arial", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5rem;
	line-height: 100%;
	letter-spacing: 0.075rem;
}

h3 {
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1.5rem;
	line-height: 152%;
	letter-spacing: 0.24rem;
}

p {
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
	line-height: 148%;
}

h4 {
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1rem;
	line-height: 152%;
	letter-spacing: 0.08 rem;
}

h5 {
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 0.75rem;
	line-height: 130%;
	letter-spacing: 0.0375rem;
}

.small {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 0.75rem;
	line-height: 130%;
	letter-spacing: 0.0375rem;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.wrapper {
	background: #ff4646;
	border-radius: 20px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 0;
	margin: 0 5.125rem;
}

@media (max-width: 768px) {
	.header {
		margin: 0 0.5rem;
	}
}

@media (max-width: 380px) {
	.header {
		padding: 0.625rem 0;
	}
}

.header-logo {
	display: flex;
	align-items: center;
	margin-right: 0.75rem;
	cursor: pointer;
}

.header-logo_image {
	background-image: url("../img-compressed/snowflake.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 24px;
	height: 24px;
	margin: 0.5rem 0.5rem 0.5rem 1.25rem;
}

.header-logo a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #181c29;
}

li[aria-disabled="true"] {
	pointer-events: none;
}

.header-logo_name {
	padding: 0.75rem 1.25rem 0.75rem 0;
	color: #181c29;
}

.header nav ul {
	display: flex;
	list-style: none;
}

.header nav ul li {
	cursor: pointer;
}

.header nav ul li:first-child {
	margin-left: 0;
}

.header nav ul li:last-child {
	margin-right: 0;
}

.header nav ul li:hover {
	color: #ff4646;
	background-color: #ffeded;
	border-radius: 12px;
}

.header nav ul li.active {
	color: #ff4646;
	background-color: #ffeded;
	border-radius: 12px;
}

.header nav ul li a {
	padding: 0.75rem 1.1875rem;
	margin: 0 0.25rem;
	text-decoration: none;
	color: #181c29;
	display: block;
}

.header nav ul li a:hover {
	color: #ff4646;
}

.header nav ul li a.active {
	color: #ff4646;
}

.burger {
	display: none;
}

@media (max-width: 768px) {
	.header nav ul {
		display: none;
	}
	.burger {
		display: block;
		cursor: pointer;
	}

	/* .line {
		transition: all 0.3s ease;
	}

	.burger:hover .line {
		stroke: #ff4646;
	}

	.burger:hover .line1 {
		transform: rotate(-45deg) translate(-22px, 13px);
	}

	.burger:hover .line2 {
		transform: rotate(45deg) translate(9px, -22px);
	} */
}

.garland-section {
	color: white;
	height: 200px;
	width: 100%;
	background-image: url("../img-compressed/bg-garland.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
}

.garland-info {
	text-align: center;
}

.garland-text {
	padding-top: 2.75rem;
	max-width: 433px;
	margin: 0 auto;
}

@media (max-width: 380px) {
	.garland-text {
		padding: 3.125rem 0.5rem 0 0.5rem;
	}
}

.garland-text h1 {
	margin: 0.75rem 0;
}
.garland-info h2 {
	margin: 0.75rem 0;
}

.gift-section {
	text-align: center;
	padding: 1.3125rem 5.125rem 3.8125rem 5.125rem;
}

@media (max-width: 768px) {
	.gift-section {
		text-align: center;
		padding: 1.5rem 4.4375rem 3.875rem 4.1875rem;
	}
}

@media (max-width: 380px) {
	.gift-section {
		text-align: center;
		padding: 7.5rem 0.5rem 3.875rem 0.5rem;
	}
}

.gift-section_header nav ul {
	display: flex;
	list-style: none;
	justify-content: center;
}

.gift-section_header nav ul li {
	margin: 0 0.3125rem;
}

@media (max-width: 768px) {
	.gift-section_header nav ul li {
		margin: 0;
	}
}

.gift-section_header nav ul li:hover {
	background-color: #ff6b6b;
	border-radius: 12px;
	cursor: pointer;
}

.gift-section_header nav ul li.active {
	background-color: #ff6b6b;
	border-radius: 12px;
	cursor: pointer;
}

.gift-section_header nav ul li a {
	padding: 0.75rem 1.1875rem;
	margin: 0 0.2rem;
	text-decoration: none;
	color: #fff;
	display: block;
}

@media (max-width: 380px) {
	.gift-section_header nav ul li a {
		padding: 0.75rem 0.1875rem;
	}
}

.gift-card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 12px;
	margin-top: 1.4375rem;
}

@media (max-width: 768px) {
	.gift-card-container {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
}

@media (max-width: 380px) {
	.gift-card-container {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		margin: 1.125rem 1.625rem 0.625rem 2.25rem;
	}
}

.gift-card {
	background: #ecf3f8;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
}
.gift-card:hover .gift-card-text h4 {
	color: #ff4646;
}

.gift-card-image {
	height: 230px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.gift-card:nth-child(1) .gift-card-image,
.gift-card:nth-child(3) .gift-card-image,
.gift-card:nth-child(4) .gift-card-image,
.gift-card:nth-child(10) .gift-card-image,
.gift-card:nth-child(13) .gift-card-image,
.gift-card:nth-child(16) .gift-card-image,
.gift-card:nth-child(19) .gift-card-image,
.gift-card:nth-child(22) .gift-card-image,
.gift-card:nth-child(25) .gift-card-image,
.gift-card:nth-child(28) .gift-card-image,
.gift-card:nth-child(31) .gift-card-image,
.gift-card:nth-child(34) .gift-card-image {
	background-image: url("../img-compressed/gift-for-work.png");
	background-size: cover;
	background-position: center;
}

.gift-card:nth-child(2) .gift-card-image,
.gift-card:nth-child(5) .gift-card-image,
.gift-card:nth-child(7) .gift-card-image,
.gift-card:nth-child(9) .gift-card-image,
.gift-card:nth-child(14) .gift-card-image,
.gift-card:nth-child(17) .gift-card-image,
.gift-card:nth-child(20) .gift-card-image,
.gift-card:nth-child(23) .gift-card-image,
.gift-card:nth-child(26) .gift-card-image,
.gift-card:nth-child(29) .gift-card-image,
.gift-card:nth-child(32) .gift-card-image,
.gift-card:nth-child(35) .gift-card-image {
	background-image: url("../img-compressed/gift-for-health.png");
	background-size: cover;
	background-position: center;
}

.gift-card:nth-child(6) .gift-card-image,
.gift-card:nth-child(8) .gift-card-image,
.gift-card:nth-child(11) .gift-card-image,
.gift-card:nth-child(12) .gift-card-image,
.gift-card:nth-child(15) .gift-card-image,
.gift-card:nth-child(18) .gift-card-image,
.gift-card:nth-child(21) .gift-card-image,
.gift-card:nth-child(24) .gift-card-image,
.gift-card:nth-child(27) .gift-card-image,
.gift-card:nth-child(30) .gift-card-image,
.gift-card:nth-child(33) .gift-card-image,
.gift-card:nth-child(36) .gift-card-image {
	background-image: url("../img-compressed/gift-for-harmony.png");
	background-size: cover;
	background-position: center;
}

.gift-card-text {
	height: 111px;
	text-align: left;
	border-radius: 17px;
	background: #fff;
	padding: 1.25rem 1.25rem 2.75rem 1.25rem;
}

.gift-card-text h5 {
	margin-bottom: 0.5rem;
}

.gift-card:nth-child(1) .gift-card-text h5,
.gift-card:nth-child(3) .gift-card-text h5,
.gift-card:nth-child(4) .gift-card-text h5,
.gift-card:nth-child(10) .gift-card-text h5 {
	color: #4361ff;
}
.gift-card:nth-child(2) .gift-card-text h5,
.gift-card:nth-child(5) .gift-card-text h5,
.gift-card:nth-child(7) .gift-card-text h5,
.gift-card:nth-child(9) .gift-card-text h5 {
	color: #06a44f;
}

.gift-card:nth-child(6) .gift-card-text h5,
.gift-card:nth-child(8) .gift-card-text h5,
.gift-card:nth-child(11) .gift-card-text h5,
.gift-card:nth-child(12) .gift-card-text h5 {
	color: #ff43f7;
}

.footer {
	background: #fff;
	color: #333;
	margin-top: 3.75rem;
}

.footer-card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 12px;
	margin: 0 5.125rem;
}

@media (max-width: 1240px) {
	.footer-card-container {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		margin: 0 0.5rem;
	}
}
@media (max-width: 1090px) {
	.footer-card-container {
		grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
		margin: 0 0.5rem;
	}
}
@media (max-width: 768px) {
	.footer-card-container {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		margin: 0 0.5rem;
	}
}

@media (max-width: 380px) {
	.footer-card-container {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		margin: 0 0.5rem;
	}
}

.footer-card {
	text-align: center;
	background: #ecf3f8;
	border-radius: 20px;
}

.footer-card:hover {
	color: #ff4646;
	cursor: pointer;
}

.footer-card a {
	text-decoration: none;
	color: inherit;
}

.footer-share {
	text-align: center;
	margin: 4.1875rem 5.125rem;
}

@media (max-width: 768px) {
	.footer-share {
		margin: 4.0625rem 5.125rem;
	}
}
@media (max-width: 380px) {
	.footer-share {
		margin: 4.0625rem 0;
	}
}

.footer-share p {
	margin: 1.0625rem 0 0.8125rem 0;
}

@media (max-width: 768px) {
	.footer-share p {
		margin: 1rem 0 0.6875rem 0;
	}
}

.footer-card:nth-child(1) .footer-card-image {
	background-image: url("../img-compressed/san-claus.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.footer-card:nth-child(2) .footer-card-image {
	background-image: url("../img-compressed/christmas-tree.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.footer-card:nth-child(3) .footer-card-image {
	background-image: url("../img-compressed/snake.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.footer-card-text {
	text-align: center;
	margin: 0.75rem 1.25rem 1.25rem 1.25rem;
}

.footer-card-text h3 {
	margin-bottom: 0.75rem;
}

.footer-card-image {
	height: 80px;
	margin-top: 1.25rem;
}

.footer-share h2:hover {
	color: #ff4646;
	cursor: pointer;
}
.footer-share h2 a {
	text-decoration: none;
	color: inherit;
}

.social-networks {
	display: flex;
	justify-content: center;
	gap: 28px;
}

.telegram,
.facebook,
.instagram,
.twitter:hover {
	cursor: pointer;
}

.telegram:hover .social-icon path,
.facebook:hover .social-icon path,
.instagram:hover .social-icon path,
.twitter:hover .social-icon path {
	stroke: #ff4646;
}

body.no-scroll {
	overflow: hidden;
}
.burger-modal {
	position: fixed;
	/* top: 0;
	right: 0; */
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
	transform: translateX(200%);
	transition: transform 0.7s ease-in-out;
	/* transition: transform 0.3s ease; */
}
/* .burger-modal.active {
	transform: translateX(0);
} */
@media (max-width: 768px) {
	.burger-modal.active {
		transform: translateX(0);
	}
}
.burger-modal ul {
	display: flex;
	list-style: none;
	flex-direction: column;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	transform: translate(200%, -50%);
	transition: transform 0.7s ease-in-out;
	overflow: hidden;
}

.burger-modal ul.active {
	display: flex;
	list-style: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 425px) {
	.burger-modal ul.active {
		top: 45%;
	}
}

.burger-modal ul li {
	cursor: pointer;
}

.burger-modal ul li a {
	text-decoration: none;
	color: #181c29;
}

.burger-modal ul li a h3 {
	padding: 16px 20px;
}

.burger.active .line {
	stroke: #ff4646;
	transition: all 0.4s ease-in-out;
}

.burger.active .line1 {
	transform: rotate(-45deg) translate(-22px, 13px);
}

.burger.active .line2 {
	transform: rotate(45deg) translate(9px, -22px);
}

.burger.inActive .line {
	stroke: #181c29;
	transition: all 0.4s ease-in-out;
}

.burger.inActive .line1 {
	transform: rotate(0deg) translate(0px, 0px);
}

.burger.inActive .line2 {
	transform: rotate(0deg) translate(0px, -0px);
}

@media (max-width: 768px) {
	.top-scroll-button {
		position: fixed;
		bottom: 8px;
		right: 8px;
		z-index: 999;
		border: 1px solid #ff4646;
		background-color: #fff;
		color: #ff4646;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		cursor: pointer;
	}
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	outline: none;
	border: none;
	border-radius: 20px;
}

dialog span {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
	font-size: 1.5rem;
	color: #181c29;
	padding-right: 10px;
}
.gift-card-subtext {
	background: #fff;
}

dialog .gift-card .gift-card-text {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.superPower {
	display: flex;
	padding-left: 10px;
}
.superPower-title {
	display: flex;
	width: 100%;
	padding: 20px 10px;
}
.superPower-range {
	padding: 20px 20px 20px 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
}
